# local bins (for custom scripts for example)
export PATH=$HOME/.local/bin:$PATH
# fnm
export PATH=$HOME/.fnm:$PATH
eval "$(fnm env --use-on-cd)"
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
# navi
eval "$(navi widget zsh)"
# yarn
export PATH=$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH
# flutter
export PATH=$HOME/.flutter/bin:$PATH
export PATH=$HOME/.pub-cache/bin:$PATH
# rust
export PATH=$HOME/.cargo/bin:$PATH
# android
export ANDROID_NDK_HOME=$HOME/Android/Sdk/ndk/21.3.6528147
export ANDROID_SDK=$HOME/Android/Sdk
export ANDROID_SDK_HOME=$HOME/.android
export ANDROID_SDK_ROOT=$ANDROID_SDK_HOME
export ANDROID_AVD_HOME=$HOME/.android/avd
export PATH=$ANDROID_SDK/emulator:$ANDROID_SDK/cmdline-tools/latest/bin:$ANDROID_SDK/platform-tools:$PATH
# deno
export DENO_INSTALL=$HOME/.deno
export PATH=$DENO_INSTALL/bin:$PATH

# Spicetify
export SPICETIFY_INSTALL=$HOME/.spicetify-cli
export PATH=$SPICETIFY_INSTALL:$PATH

# Webb
export PATH=$HOME/.webb:$PATH

# SSH Agent
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
eval "$(ssh-add &> /dev/null)"
