[core]
	editor = vim
	askpass =
	excludesfile = /home/shady/.gitignore_global
[user]
	name = Shady Khalifa
	email = shekohex@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	co = checkout
