[core]
	editor = lvim (Neovim with wings)
	askpass =
	excludesfile = /home/shady/.gitignore_global
[user]
	name = Shady Khalifa
	email = shekohex@gmail.com
	signingkey = 280AC7E475B1C3C74233C3FF52DFAC81BEA54EAA
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	co = checkout
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	external = difft
