@import "themes/latte.css";

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: @text;
  font-family: JetBrainsMono Nerd Font, Noto Sans, sans-serif;
  font-size: 13px;
}

/* Each module */
#clock,
#network,
#pulseaudio,
#workspaces button,
#custom-media.custom-spotify,
#custom-media.custom-ncspot,
#custom-media.custom-spotifyd,
#custom-media.custom-chromium,
#tray {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  border-radius: 10px;
  background: @base;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  font-weight: bold;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: orange;
}

#tray {
  /* No styles */
}

#pulseaudio.muted {
  color: @red;
}

#window {
  font-weight: normal;
}

#workspaces button {
  background: @base;
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
  background: @teal;
  color: @base;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}
